h1{
    color:red;
}

#schedule{
    border: 1px solid #428bca;
    background-color:#428bca;
    width: 100%;
    color: white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

#add_train{
    border: 1px solid #428bca;
    background-color: #428bca;
    width: 100%;
    color: white;
    
}

button {
    float: right;
  }